body{
	font-family: "arial";
    box-sizing: border-box;
    margin: 3%;
    font-size: 2vw ;
}
h3{
    color : crimson;
}
p{
    color : red;
}
thead{
    color : navy;
}
table{
    border-collapse:collapse;
    margin: auto;
    width: relative;

}
table th {
    font-weight:bold;
}
fieldset{
    border-radius: 10px;
}
legend{
    color : steelblue;
}
th{
    width: 2.5%;
}
.titik {
    width: 1.5%;
}
.data{
    width: 15%;
}
td textarea {
    padding: 5px 25px;
    border-radius: 5px;
}
button {
    font-weight: bold;
    background-color: SkyBlue;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    }
button:hover{
    background-color: blue;
    }
td select {
    padding: 5px 25px;
    border-radius: 5px;
}
td input {
    padding: 5px 25px;
    border-radius: 5px;
}
